<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/adminHTML.css}">
</head>
<body>
<form action="#" method="post" th:action="@{/oauth/client/registration}" th:object="${clientRegisterData}">

    <div>
        <label for="clientName">Введите ваше имя </label>
        <input class="inputCSS" type="text" id="clientName" th:field="*{clientName}">
        <!--        <input type="text" id="name" th:field="${category.name}"> -->
        <br>
        <span th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"></span>
    </div>
    <div>
        <label for="redirectURL">Введите redirect URL</label>
        <input type="text" id="redirectURL" th:field="*{redirectURL}">
        <!--        <input type="text" id="name" th:field="${category.name}"> -->
        <br>
        <span th:if="${#fields.hasErrors('redirectURL')}" th:errors="*{redirectURL}"></span>
    </div>

    <label for="scopes">Выберите необходимые scopes из списка</label>
    <select id="scopes" th:field="*{scopes}">
        <option value="READ">READ</option>
        <option value="WRITE">WRITE</option>
    </select>

    <div>
        <label for="postLogoutRedirectURL">Выйти из аккаунта</label>
        <button type="submit"  id="postLogoutRedirectURL" th:button="*{postLogoutRedirectURL}">Выйти из аккаунта</button>
<!--        <input type="text" id="postLogoutRedirectURL" th:field="*{postLogoutRedirectURL}">-->
        <br>
        <span th:if="${#fields.hasErrors('postLogoutRedirectURL')}" th:errors="*{postLogoutRedirectURL}"></span>
    </div>

    <button type="submit">Зарегистрироваться</button>

</form>

</body>
</html>

