<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuccessRegister </title>

</head>
<body>
<div>
    <p>Авторизация прошла успешно</p>
    <p>Id client =
        <strong th:if="${clientId}" th:text="${clientId}"></strong>
    </p>
    <p>Secret client =
        <strong th:if="${clientSecret}" th:text="${clientSecret}"></strong>
    </p>
    <p>client SecretExpiresAt =
        <strong th:if="${clientSecretExpiresAt}"
                th:text="${#dates.format(clientSecretExpiresAt, 'dd-MM-yyyy HH:mm')}">
        </strong>
    </p>
</div>
</body>
</html>
